<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079422896387-bh46v219vsjfkn2maauitnpkt7t4vt67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079422896387-bh46v219vsjfkn2maauitnpkt7t4vt67</string>
	<key>API_KEY</key>
	<string>AIzaSyAzItGC1yBVFpcOqmG7Mlf_ZYg7E1XiToA</string>
	<key>GCM_SENDER_ID</key>
	<string>1079422896387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tj.hamroh.Bakujo</string>
	<key>PROJECT_ID</key>
	<string>bakujo-d04a2</string>
	<key>STORAGE_BUCKET</key>
	<string>bakujo-d04a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079422896387:ios:5f6e189d60b0816b8a0136</string>
	<key>DATABASE_URL</key>
	<string>https://bakujo-d04a2.firebaseio.com</string>
</dict>
</plist>
